* {
  margin: 0;
  padding: 0;

  /* box-sizing: border-box; */
}
.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #cf9aff,
    #95c0ff
  );
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}
.container h1 {
  display: flex;
  width: fit-content;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  transition: 0.3s;
}
.container h1:hover {
  color: #333;
  font-size: 50px;
}
.container h1 img {
  width: 60px;
}
.container button img {
  width: 25px;
  margin-right: 8px;
}
.container button {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  outline: 0;
  border: 1;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
  transition: 0.3s;
}

.container button:hover {
  border: 1px solid #fff;
  font-size: 35px;
  background-color: #333;
}
.input-box {
  font-family: "Rubik Scribble", sans-serif;
  position: relative;
  width: 100%;
  text-decoration: aquamarine;
  max-width: 500px;
  min-width: 150px;
  background: #333;
  color: #fff;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}
.input-box img {
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
.input-box:hover {
  font-size: 35px;
}
